



.header .navbar {
    background-color: transparent !important;
  }

  body {color: white;}

  
html {
    scroll-behavior: smooth;
  }
  
  
  body {
    color: white;
    background-color: black;
    font-family: "Open Sans", sans-serif;
    position: relative;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bebas neus", cursive;
  }

  h2,
  .subtitle i {
    font-size: 40px;
  }
  
  .navbar {
    margin: -40px 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .navbar img {
    height: 36px;
    margin-right: 10px;
  }
  
  .card {
    color: black;
  }
  
  .card img {
    overflow: hidden;
    background-size: cover;
  }